body {
  background-color: #f7f9fc;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 4rem;
  text-align: center;
  color: #3c6997;
}

.subtitle {
  font-size: 2rem;
  color: #3c6997;
  text-align: center;
}

.flex-container {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 4px;
}

.flex-item1 {
  /* border: 1px solid black; */
  margin: 10px;
}

.flex-item2 {
  width: auto;
  margin: 10px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

.flex-item3 {
  /* border: 1px solid black; */
  margin: 10px;
  text-align: center;
}

#canvas {
  border: 1px solid black;
}

#predictButton {
  display: inline-block;
  color: #ffffff;
  background-color: #3c6997;
  padding: 14px 25px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
}

#predictButton:hover {
  background-color: #094074;
}

#clearButton {
  display: inline-block;
  color: #ffffff;
  background-color: #3c6997;
  padding: 14px 25px;
  text-align: center;
  font-size: 16px;
}

#clearButton:hover {
  background-color: #094074;
  cursor: pointer;
}

#result {
  background-color: white;
  width: 480px;
  height: 480px;
  border: 1px solid black;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 400px;
  color: #094074;
}
