<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digit recognition</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <h1 class="title">Digit Recognition using a CNN</h1>

    <div class="flex-container">
      <div class="flex-item1">
        <h2 class="subtitle">Draw a digit!</h2>
        <canvas id="canvas"></canvas>
      </div>

      <div class="flex-item2">
        <a class="flex-item3" href="#" id="predictButton"
          ><span>Predict</span></a
        >
        <input
          class="flex-item3"
          type="button"
          id="clearButton"
          value="Clear"
        />
      </div>

      <div class="flex-item1">
        <h2 class="subtitle">Predicted digit</h2>
        <div id="result"></div>
      </div>
    </div>

    <script src="{{url_for('static', filename='index.js')}}"></script>

    <script type="text/javascript">
      $("#predictButton").click(() => {
        console.log("Predict button clicked");
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        var canvasObj = document.getElementById("canvas");
        var img = canvasObj.toDataURL();

        $.ajax({
          type: "POST",
          url: $SCRIPT_ROOT + "/predict",
          data: img,
          success: function (data) {
            console.log(data);
            $("#result").text(data);
          },
        });
      });
    </script>
  </body>
</html>
